/* font family */

  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato:wght@400;900&family=Montserrat+Alternates&family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;500;600;700;800;900&family=Roboto&family=Satisfy&family=Work+Sans:wght@400;500;600;700;800&display=swap');


*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
nav{
    height: 130px;
    background: #FFF;
    flex-shrink: 0;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

    border: 1px solid rgb(255, 255, 255);
}

.nav-container{
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
}
.nav-left{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid blue; */
    gap: 20px;
    margin-left: 240px;
}
.nav-right{
    text-decoration: none;
    margin-right: 240px;
    /* border: 1px solid red; */
    text-align: center;
}
.li{
    text-decoration: none;
    color: #3C354F;

}


.list-item{
   
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    color: #3C354F;
    text-align: center;

    font-size: 18px;

    font-weight: 500;

  

}
.nav2-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.gamer{
    text-align: center;
   
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.g{
    color: #FF42A5;
}


/* responsiveness starts here */

@media screen and (max-width: 576px){
    nav{
        box-shadow: 0px 4px 30px 0px rgba(255, 255, 255, 0);
    }
    
    .nav-container{
        
        display: flex;
        flex-direction: column;
        height: max-content;
        
        align-items: center;
        justify-content: center;
        /* border: 1px solid blue; */
        
    }

    .nav-left{
        display: flex;
        justify-content: space-around;
        /* border: 1px solid blue; */
        gap: 20px;
        margin: 0 auto;
        /* margin-left: 240px; */
    }
    .nav-right{
        text-decoration: none;
        margin: 0 auto;
        /* border: 1px solid red; */
        text-align: center;
    
    }
    .list-item{
        
   
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        
        align-items: center;
        color: #3C354F;
        text-align: center;
    
        font-size: 18px;
    
        font-weight: 500;
        margin-top: 50px;
        margin-right: 40px;
        line-height: 40px;
    
      
    
    }
    .nav2-icon{
        margin-top: 60px;
    }

    
}

@media screen and (min-width: 577px) and (max-width: 990px) {
    nav{
        width: max-content;

    }
    .nav-left{
        margin-left: 20px;
    }
    .nav-right{
        margin-right: 20px;
    }
    
}
